{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {lager, "3.9.2"},
    {proper, "1.4.0"},
    {meck, "0.9.2"}
]}.

{relx, [
    {release, {tsss, "0.1.0"}, [
        tsss,
        sasl,
        crypto,
        lager
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {test, [
        {deps, [{proper, "1.4.0"}, {meck, "0.9.2"}]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
